<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MyBatis Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.repository.EmployeeRepository">

	<!-- 모든 직원 조회 -->
	<select id="getAll" resultType="com.erp.domain.Employee">
		SELECT * FROM employee
		LIMIT #{pageSize} OFFSET #{offset}
	</select>
	
	<!-- 직원 추가 -->
	<insert id="insertEmployee" parameterType="com.erp.domain.Employee">
		INSERT INTO employee (name, email, age, hire_date, work_location, status)
		VALUES (#{name}, #{email}, #{age}, #{hireDate}, #{workLocation}, #{status})
	</insert>

	<select id="getTotalCount" resultType="int">
		select count(*) from employee
	</select>
	
	<select id="getEmployeeById" parameterType="int" resultType="com.erp.domain.Employee">
		select * from employee where id = #{id} 
	</select>
	
	<delete id="deleteById" parameterType="int">
	    DELETE FROM employee WHERE id = #{id}
	</delete>
	
    <update id="updateEmployee" parameterType="com.erp.domain.Employee">
        UPDATE employee
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="position != null">position = #{position},</if>
            <if test="tel != null">tel = #{tel},</if>
            <if test="email != null">email = #{email},</if>
            <if test="address != null">address = #{address},</if>
            <if test="rrn != null">rrn = #{rrn},</if>
            <if test="workLocation != null">work_location = #{workLocation},</if>
            <if test="notes != null">notes = #{notes},</if>
            <if test="status != null">status = #{status},</if>
            <if test="hireDate != null">hire_date = #{hireDate},</if>
            <if test="resignationDate != null">resignation_date = #{resignationDate}</if>
        </set>
        WHERE id = #{id}
    </update>
	
</mapper>